@import "tailwindcss";

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(211, 216, 232);
  }
}

body {
  background: #0d1224;
  color: rgb(var( --foreground-rgb));
}
